{% extends 'home_base.html' %}


{% block header %}
<header id="header">
    <div class="center text-center">
        <h1 class="bigheadline">Akoto Tech</h1>
        <h4 class="subheadline">Let's help the world with lines of code!</h4>
    </div>
    <div class="bottom">
        <a data-scroll href="#navigation" class="scrollDown animated pulse" id="scrollToContent"><i class="pe-7s-angle-down-circle pe-va"></i></a>
    </div>
</header>
{% endblock %}


{% block navigation %}
<section id="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="logo"><a data-scroll href="#body" class="logo-text">Akoto Tech</a></div>
            </div>
            <div class="col-xs-6">
                <div class="nav">
                    <a href="#" data-placement="bottom" title="Menu" class="menu" data-toggle="dropdown"><i class="pe-7s-menu"></i></a>
                     <div class="dropdown-menu">
                         <div class="arrow-up"></div>
                         <ul>
                             <li><a data-scroll href="#body">Home <i class="pe-7s-home"></i></a><span class="menu-effect"></span></li>
                             <li><a data-scroll href="#services">Service <i class="pe-7s-config"></i></a><span class="menu-effect"></span></li>
                             <li><a data-scroll href="#portfolio">Portfolio <i class="pe-7s-glasses"></i></a><span class="menu-effect"></span></li>
                             <li><a data-scroll href="#testimonial">Testimonial <i class="pe-7s-comment"></i><span class="menu-effect"></span></a></li>
                             <li><a data-scroll href="#contact">Contact <i class="pe-7s-help1"></i></a><span class="menu-effect"></span></li>
                         </ul>
                     </div>
                </div>
            </div>

        </div>
    </div>            
</section>
{% endblock %}


{% block services %}
<section id="services" class="service-area">
    <div class="container">
        <h2 class="block_title">Services</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="services">
                    <div class="service-wrap">    
                        <i class="pe-7s-science pe-dj pe-va"></i>
                        <h3>Creative Idea</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="services">
                    <div class="service-wrap">
                        <i class="pe-7s-monitor pe-dj pe-va"></i>
                        <h3>Responsive Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="services">
                    <div class="service-wrap">
                        <i class="pe-7s-edit pe-dj pe-va"></i>
                        <h3>Clean &amp; Nice</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="services">
                    <div class="service-wrap">
                        <i class="pe-7s-config pe-dj pe-va"></i>
                        <h3>Support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block portfolio %}
<section id="portfolio" class="portfolio-area">
    <div class="container">
        <h2 class="block_title">My Works</h2>
        <div class="row port cs-style-3">
            <div class="col-md-4 col-sm-6 col-xs-12 item-space">
                <figure>
                    <img src="static/images/AKOTOTECH-LOGO1blue.jpg" alt="img04">
                    <figcaption>
                        <h3>Trust House</h3>
                        <span>Yaw Akoto</span>
                        <a href="https://trusthouse.onrender.com/" class="button" target="_blank" >Take a look</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 item-space">
                <figure>
                    <img src="static/images/AKOTOTECH-LOGO680green.jpg" alt="img01">
                    <figcaption>
                        <h3>Hair By Simply Tee</h3>
                        <span>Yaw Akoto</span>
                        <a href="https://simplytee.onrender.com/" class="button" target="_blank" >Take a look</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 item-space">
                <figure>
                    <img src="static/images/AKOTOTECH-LOGO3ATblue.jpg" alt="img02">
                    <figcaption>
                        <h3>VIDA Login (PoC)</h3>
                        <span>Yaw Akoto</span>
                        <a href="#" class="button" >Take a look</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 item-space">
                <figure>
                    <img src="static/images/AKOTOTECH-LOGO2green.jpg" alt="img04">
                    <figcaption>
                        <h3>StopSearch UK</h3>
                        <span>Yaw Akoto & Daniella Rose</span>
                        <a href="#" class="button" >Take a look</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 item-space">
                <figure>
                    <img src="static/images/AKOTOTECH-LOGO580blue.jpg" alt="img01">
                    <figcaption>
                        <h3>Delafonte IT Solutions</h3>
                        <span>Yaw Akoto</span>
                        <a href="#" class="button" >Take a look</a>
                    </figcaption> 
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 item-space">
                <figure>
                    <img src="static/images/AKOTOTECH-LOGO4ATgreen.jpg" alt="img02">
                    <figcaption>
                        <h3>Akoto Tech Tuition</h3>
                        <span>Yaw Akoto</span>
                        <a href="https://github.com/Bevs-n-Devs/AkotoTechTuition" class="button" target="_blank" >Take a look</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xs-12">
                <div class="btn-center"><a href="#" class="big button">View all</a></div>
            </div>
        </div>
    </div><!-- container -->
</section>
{% endblock %}


{% block testimony %}
<section id="testimonial" class="testimonial-area">
    <div class="container">
        <h2 class="block_title">Testimonials</h2>
        <div class="row">
            <div class="col-xs-12">
            </div>
            <div id="testimonial-container" class="col-xs-12">
                <div class="testimonila-block">
                    <img src="static/images/testimonial.jpg" alt="clients" class="selfshot">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sed mollitia illum! Molestiae dignissimos, hic dolorem et eius ut nobis. Corrupti totam amet aperiam aut voluptate nobis dolor at soluta.</p>
                    <strong>Monir Hossain</strong>
                    <br>
                    <small>C.E.O</small>
                </div>
                <div class="testimonila-block">
                    <img src="static/images/testimonial2.jpg" alt="clients" class="selfshot">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sed mollitia illum! Molestiae dignissimos, hic dolorem et eius ut nobis. Corrupti totam amet aperiam aut voluptate nobis dolor at soluta.</p>
                    <strong>Nur Ul Hossain</strong>
                    <br>
                    <small>Project Manager</small>
                </div>
                <div class="testimonila-block">
                    <img src="static/images/testimonial3.jpg" alt="clients" class="selfshot">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sed mollitia illum! Molestiae dignissimos, hic dolorem et eius ut nobis. Corrupti totam amet aperiam aut voluptate nobis dolor at soluta.</p>
                    <strong>Hossain Abrar</strong>
                    <br>
                    <small>Developer</small>
                </div>
            </div>
        </div>
    </div><!-- container -->
</section>
{% endblock %}


{% block contact %}
<section id="contact" class="mapWrap">
    <div id="googleMap" style="width:100%;"></div>
    <div id="contact-area">
        <div class="container">
            <h2 class="block_title">Hey !!!</h2>
            <div class="row">
                <div class="col-xs-12">
                </div>
                <div class="col-sm-6">
                    <div class="moreDetails">
                        <h2 class="con-title">More About me</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum animi repudiandae nihil aspernatur repellat temporibus doloremque sint ea laboriosam, excepturi iure inventore rerum voluptatibus, suscipit totam, sit necessitatibus. Rerum, blanditiis. </p>
                        <ul class="address">
                            <li><i class="pe-7s-map-marker"></i><span>1600 Pennsylvania Ave NW,<br>Washington, DC 20500,<br>United States</span></li>
                            <li><i class="pe-7s-mail"></i><span>example@gmail.com</span></li>
                            <li><i class="pe-7s-phone"></i><span>+1-202-555-0144</span></li>
                            <li><i class="pe-7s-global"></i><span><a href="#">www.themewagon.com</a></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2 class="con-title">Drop us a line</h2>
                    <form role="form">
                      <div class="form-group">
                        <input type="text" class="form-control" id="user_name" placeholder="Enter your name">
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" id="your_email" placeholder="Enter your email">
                      </div>
                      <div class="form-group">
                        <textarea name="InputMessage" id="user_message" class="form-control" rows="5" required></textarea>
                      </div>

                      <button type="submit" class="btn medium">Let us know</button>
                    </form>   
                </div>
            </div>
        </div><!-- container -->
    </div><!-- contact-area -->
    <div id="social">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="scoialinks">
                        <li class="normal-txt">Find me on</li>
                        <li class="social-icons"><a class="facebook" href="#"></a></li>
                        <li class="social-icons"><a class="twitter" href="#"></a></li>
                        <li class="social-icons"><a class="linkedin" href="#"></a></li>
                        <li class="social-icons"><a class="google-plus" href="#"></a></li>
                        <li class="social-icons"><a class="wordpress" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- social -->
</section>
{% endblock %}


{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright">© Copyright 2014 <a href="#" target="_blank">Your Website Link</a></p>
            </div>
            <div class="col-sm-6">
                <p class="designed">Created by <a href="https://github.com/PythonAkoto" target="_blank">PythonAkoto</a></p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}